.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
}
.freeBox__r6Nv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 42px;
  min-width: 0;
  min-height: 0;
}
.freeBox__r6Nv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__r6Nv > :global(.__wab_flex-container) > *,
.freeBox__r6Nv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r6Nv > :global(.__wab_flex-container) > picture > img,
.freeBox__r6Nv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r6Nv {
    padding-bottom: 50px;
  }
}
.text__iJNin {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 50px;
  text-align: center;
}
.freeBox___2FbHa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___2FbHa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2FbHa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2FbHa > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2FbHa > :global(.__wab_flex-container) > *,
  .freeBox___2FbHa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2FbHa > :global(.__wab_flex-container) > picture > img,
  .freeBox___2FbHa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 50px;
  }
}
.freeBox___4Ua7C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 8px;
}
.freeBox___4Ua7C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___4Ua7C > :global(.__wab_flex-container) > *,
.freeBox___4Ua7C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Ua7C > :global(.__wab_flex-container) > picture > img,
.freeBox___4Ua7C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.img__ibeak {
  object-fit: cover;
  max-width: 100%;
  width: 80%;
  border-radius: 100%;
}
.img__ibeak > picture > img {
  object-fit: cover;
}
.text__niBul {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  min-width: 0;
}
.freeBox___4EGcy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___4EGcy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___4EGcy > :global(.__wab_flex-container) > *,
.freeBox___4EGcy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4EGcy > :global(.__wab_flex-container) > picture > img,
.freeBox___4EGcy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.img__zrj6Z {
  object-fit: cover;
  max-width: 100%;
  width: 80%;
  border-radius: 100%;
}
.img__zrj6Z > picture > img {
  object-fit: cover;
}
.text__kJzTw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  min-width: 0;
}
