.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: #fff8f3;
  padding-top: 42px;
  padding-bottom: 60px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 50px;
}
.text__gIs74 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 50px;
  text-align: center;
}
.freeBox__ya28 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__ya28 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__ya28 > :global(.__wab_flex-container) > *,
.freeBox__ya28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ya28 > :global(.__wab_flex-container) > picture > img,
.freeBox__ya28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.freeBox__wnMd0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wnMd0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__wnMd0 > :global(.__wab_flex-container) > *,
.freeBox__wnMd0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wnMd0 > :global(.__wab_flex-container) > picture > img,
.freeBox__wnMd0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__soxbz {
  position: relative;
  width: 642px;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: justify;
}
.freeBox__qUabt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qUabt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__qUabt > :global(.__wab_flex-container) > *,
.freeBox__qUabt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qUabt > :global(.__wab_flex-container) > picture > img,
.freeBox__qUabt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.button__uPs2Y:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qW7L3 {
  position: relative;
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: #ffffff;
}
.text__mvPbO {
  height: auto;
  font-size: 25px;
}
.svg__u6Cu7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__r01Uf:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uJp1I {
  position: relative;
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: #ffffff;
}
.text___28MI {
  height: auto;
  font-size: 25px;
}
.svg__eMQo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__wfvov {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: calc(0px + 50px) !important;
  margin-right: 60px;
  flex-shrink: 0;
  min-height: 0;
}
.freeBox__wfvov > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__wfvov > :global(.__wab_flex-container) > *,
.freeBox__wfvov > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wfvov > :global(.__wab_flex-container) > picture > img,
.freeBox__wfvov
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.img__sKZbT {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__sKZbT > picture > img {
  object-fit: cover;
}
.freeBox__t0Crh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__t0Crh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__t0Crh > :global(.__wab_flex-container) > *,
.freeBox__t0Crh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t0Crh > :global(.__wab_flex-container) > picture > img,
.freeBox__t0Crh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.freeBox___7VsEi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border: 2px solid #ffffff;
}
.img___26KRe {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img___26KRe > picture > img {
  object-fit: cover;
}
