.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: #fff8f3;
  padding-top: 42px;
  padding-bottom: 60px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
.text__y5Su6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  text-align: center;
}
.freeBox__kdTyw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__kdTyw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__kdTyw > :global(.__wab_flex-container) > *,
.freeBox__kdTyw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kdTyw > :global(.__wab_flex-container) > picture > img,
.freeBox__kdTyw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__lh6Q4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lh6Q4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__lh6Q4 > :global(.__wab_flex-container) > *,
.freeBox__lh6Q4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lh6Q4 > :global(.__wab_flex-container) > picture > img,
.freeBox__lh6Q4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__uiIvR {
  position: relative;
  width: 642px;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: justify;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uiIvR {
    display: none;
  }
}
.freeBox__p9Vh1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__p9Vh1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__p9Vh1 > :global(.__wab_flex-container) > *,
.freeBox__p9Vh1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p9Vh1 > :global(.__wab_flex-container) > picture > img,
.freeBox__p9Vh1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__pXbX5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  min-width: 0;
}
.button__xce2L:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yOFn {
  position: relative;
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: #ffffff;
}
.text__adoR {
  height: auto;
  font-size: 25px;
}
.svg__uh8DI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__yrqe:global(.__wab_instance) {
  max-width: 100%;
}
.svg__prcgw {
  position: relative;
  object-fit: cover;
  width: 35px;
  height: 35px;
  color: #ffffff;
}
.text___3WTza {
  height: auto;
  font-size: 25px;
}
.svg__sdNm0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hvsfe {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
}
.freeBox__hvsfe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__hvsfe > :global(.__wab_flex-container) > *,
.freeBox__hvsfe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hvsfe > :global(.__wab_flex-container) > picture > img,
.freeBox__hvsfe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.img__tczsN {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__tczsN > picture > img {
  object-fit: cover;
}
.freeBox__t6OQc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__t6OQc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__t6OQc > :global(.__wab_flex-container) > *,
.freeBox__t6OQc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t6OQc > :global(.__wab_flex-container) > picture > img,
.freeBox__t6OQc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBox__qaZcx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border: 2px solid #ffffff;
}
.img__btp6X {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__btp6X > picture > img {
  object-fit: cover;
}
