.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
}
.svg__hTovF {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 500px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(20deg);
  position: absolute;
  left: 50px;
  top: -100px;
  flex-shrink: 0;
}
.svg___9Ugox {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 500px;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(27deg);
  position: absolute;
  left: auto;
  top: auto;
  right: 50px;
  bottom: -100px;
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg___9Ugox * {
  transform-style: preserve-3d;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.text__gkBMj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 80px;
  font-family: "Dancing Script";
  color: var(--token-7k42vfoby6t9);
  line-height: 1;
}
.text__yB7O1 {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 100%;
  text-align: justify;
}
